body {
  background-image: url("magic.jpg");
  text-align: center;
}

.gifme {
  display: in-block;
  float: left;
  padding: 10px;
}

h1 {
  color: pink;
}

h3 {
  color: pink;
}

p{
  color: #64C5EF;
  font-size: 20px
}
